.break{
    flex-basis: 100%;
    height: 0;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
}

h1{
	font-size: 3rem;
	text-align: center;
}

h2{
	font-size: 2rem;
}

nav{
	top: 0;
	display: flex;
	justify-content:space-around;
	align-items:center;
	width: 100%;
	height: 4rem;
	background-color: #7ed957;
	position: sticky;
	z-index: 999;
}

a.nav{
	text-decoration: none;
	color: black;
	font-size: 2rem;
}

section{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

section div{
	padding: 1rem;
	width: 100%;
}

img.mesa{
	height: 15rem;
	border-radius: 7.5rem;
}

div.mesa{
	display: flex;
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}